PORT=5000
MONGO_URI=mongodb://neocloud:neo12345@ac-itf2jfy-shard-00-00.5mhuoh9.mongodb.net:27017,ac-itf2jfy-shard-00-01.5mhuoh9.mongodb.net:27017,ac-itf2jfy-shard-00-02.5mhuoh9.mongodb.net:27017/?ssl=true&replicaSet=atlas-13uskp-shard-0&authSource=admin&appName=Cluster1
JWT_SECRET=b890e54944fa3072115026a2f7667054d2eee748ff4ea94a0d399c787bfce086

# AWS Details 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# Python AI Server URL
PYTHON_AI_URL=http://localhost:8000