fastapi
joblib
opencv-python
Pillow
pydantic
requests
scikit-learn
soundfile
torch
torchaudio
torchvision
transformers
ultralytics
uvicorn
pandas
tldextract
numpy
scipy
python-dotenv
google-genai
virustotal-python
